.page {
    min-width:1024px;
    width:100%;
}
.wrapper {
    margin:3%;
}
.col-right {
    float:right;
    width:50%;
    height:400px;
}
.col-left {
    float:left;
    width:50%;
    height:400px;
}
.text-inputs > label.small {
    display:inline-block;
    font-size:0.8em;
    width:180px;
}
.text-inputs > textarea {
    height:100px;
    width:350px;
}
input[type=text]{
    border:1px solid black;
    width:175px;
}
.centered {
    text-align:center;
}

h1 {
    font-family:'Lobster';
    font-size:3em;
    border-bottom:2px solid black;
    border-bottom-width:15px;
}
h2 {
    font-size:2em;
    /*margin:10px 0 10px 0px;*/
}
h3 {
    font-size:1.4em;
}

input[type=radio] {
    margin:0px 10px 0px 3px;
}

textarea {
    display:block;
}
div#voice-col {
    margin-left:50%;
    border-right:2px solid black;
}
div#text-col {
    margin-left:59px;
}
.border {
    margin:auto;
    border-bottom:2px solid black;
    width:350px;
}

