html, body {
    height: 100%;
    background: #222 url(http://cdn.humblebundle.com/hib2/bg.jpg);
}
.text-inputs > textarea {
    height:100px;
    width:350px;
}

#header {
    margin-bottom:100px;
}

#content {
    padding-top:20px;
    padding-bottom:20px;
    background-color: white;
}

h1 {
    font-family:'Lobster';
    font-size:3em;
    border-bottom:15px solid white;
    color:white;
}
h2 {
    font-size:2em;
    /*margin:10px 0 10px 0px;*/
}
h3 {
    font-size:1.4em;
}

input[type=radio] {
    margin:0px 10px 0px 3px;
}

textarea {
    display:block;
}
.border {
    border:1px solid black;
}

.queue_elem {
    display:inline;
}
