<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Tropo SMS gateway</title>
    <link href="/css/form_temp.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/form_temp.js"></script>
    {{ inject_script }}
</head>
<body>
  <div class="centerer" id="page">
    <!--<form action="/testform" method="post">-->
        <fieldset class="newform">
            <div id="div_errors"><ul id="div_ul_errors">
                {% if to_notvalid %}
                    <li>Not a valid phone number. Use international format</li>
                {% endif %}
                {% if msg_len_long %}
                    <li>Too long message. Needs to be at most 160 characters</li>
                {% endif %}
            </ul></div>
            <legend>SMS Form</legend>
            <ul>
                    <li>
                            <label>To (eg +306976823543)</label>
                            <input type="text" name="to" id="id_to" />
                    </li>
                    <li>
                            <label>Message</label>
                            <textarea id="id_msg" rows="10" cols="40" maxlength="160"
                            name="msg" onkeyup="notify_area()"></textarea>
                    </li>
                    <li>
                            <span id="id_chars" style="margin-left:250px;">160</span>&nbsp;characters remaining.
                    </li>
             </ul>
             <div class="wrapper" id="id_button_area">
                <button style="float:right;" onClick="submit_form()" id="id_submit" class="button" type="submit">Submit</button>
             </div>
        </fieldset>
    <!--</form>-->
  </div>
</body>
</html>
