<!DOCTYPE HTML>
<html>
<head>
<title>Tropo Playground</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"> 
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/playground.css">

<script type="text/javascript" src='/_ah/channel/jsapi'></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/playground-live.js"></script>

<link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif&subset=latin' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">
	<div class="header">
		<h1 class="span-24 last">Tropo Playground-Live&#153;</h1>
		<hr />
		<div class="sub-header">
			<p>play with tropo as much as you want!</p>
		</div>
	</div>
	<div class="span-24 last playground-live">
		<input type="checkbox" id="toggle_debug" checked>Show debug information</input>
		<div class="init_hidden">
			<textarea class="span-24 last" id="code"></textarea>
			<button id="exec">Execute</button><br>
			<input id="say_text">
			<button id="say">Say</button>
		</div>
		<br>
		<div id="start-form">
			<input type="text" id="phone_number" value="+302810322628">
			<button id="btn_start">Call & Start</button>
		</div>
		<div class="span-24 last" id="debug-window">
			<p id="timeout"></p>
		</div>
	</div>
</div>

</body>
</html>
