<!DOCTYPE HTML>
<html>
<head>
<title>Tropo Playground</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
<link href='http://fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/playground.css">

<script type="text/javascript" src='/_ah/channel/jsapi'></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/playground.js"></script>

</head>
<body>
<div id="signals"></div>
<div class="container">
<div class="span-24 last" id="header">
	<h1 class="prepend-8 span-8 append-8 last">Tropo Playground</h1>
</div>
<div id="content" class="prepend-1 span-22 append-1 last">
	<h3 class="span-22 last">Your call action queue</h3>
	<div id="queue" class="span-22 last border">
		EMPTY QUEUE
	</div>
	<h3 class="span-22 last">Add new Elements to the queue</h3>
	<div class="span-22 last border">
		<div class="span-4 border">
			<h4 class="span-4 last">SAY</h4>
				<input class="span-4 last" type="text" id="say_text">
				<button class="span-4 last" id="btn_add_say">Add Action</button>
		</div>
		<div class="span-4 last border">
			<h4 class="span-4 last">TRANSFER</h4>
				<input class="span-4 last" type="text" id="transfer_number">
				<button class="span-4 last" id="btn_add_transfer">Add Action</button>
		</div>
	</div>
	<div class="span-24 last" id="debug_window">
	
	</div>
	<div class="prepend-8 span-8 append-8 last">
		<input type="text" id="init_number">
		<button id="btn_start">Start</button>
	</div>
</div>
</div>

<!--
<form action="{{action_url}}" method="post" enctype="multipart/form-data">
		<div class="prepend-3 span-9">
			<label for="id_voice">Voice Selection</label>
			<select id="id_voice" name="voice">
				<option value="carmen">Castilian Spanish - Female</option>
				<option value="jorge">French - Female</option>
				<option value="florence">French - Female</option>
				<option value="bernard">French - Male</option>
				<option value="allison" checked="checked">US English - Female</option>
				<option value="dave">US English - Male</option>
				<option value="kate">British English - Female</option>
				<option value="simon">British English - Male</option>
				<option value="katrin">German - Female</option>
				<option value="stefan">German - Male</option>
				<option value="paola">Italian - Female</option>
				<option value="luca">Italian - Male</option>
				<option value="saskia">Dutch - Female</option>
				<option value="willem">Dutch - Male</option>
				<option value="soledad">Mexican Spanish - Female</option>
				<option value="carlos">Mexican Spanish - Male</option>
				<option value="zosia">Polish - Female</option>
				<option value="krzysztof">Polish - Male</option>
			</select>
		</div>
		<div class="span-12 last">
			<label for="text">Text to say :</label><br />
			<textarea id="text" name="text">Hello! Oups, have to go! Goodbye!</textarea>
			<label for="audio_upload">Audio to play after text</label><br />
			<input type="file" name="audio_upload" id="audio_upload">
			<br />
			<label class="small" for="number">phone number to call</label>
			<label class="small" for="callerid">with callerID</label><br />
			<input type="text" id="number" name="number" value="+302810322628">
			<input type="text" id="callerid" name="callerid" value="+302810666666">
			<br /><br />
			Then transfer call<br />
			<div class="init_disabled text-inputs">
					<label> <input id="transfer_yes" type="radio" name="transfer" value="yes">Yes</label>
					<label> <input id="transfer_no" type="radio" name="transfer" checked="checked" value="no">No</label>
					<br />
					<label class="small" for="transfer_number">To</label>
					<label class="small" for="transfer_callerid">With callerID</label>
					<br />
					<input type="text" id="transfer_to" name="transfer_number" value="+30">
					<input type="text" id="transfer_callerid" name="transfer_callerid" value="+302810666666">
					<br />
					<br />
			</div>
		</div>
		<div class="centered">
				<input class="button" type="submit" value="Call" style="width:80px;">
		</div>
</form>
-->
<!-- CONFERENCE FORM --> 
<!-- 
<form method="post" action="/playground">
	<label style="display:block;" for="conf_id">Conference to join</label>
	<input type="text" id="conf_id" name="conf_id">
	
	<label style="display:block;" for="conf_number">Your phone number</label>
	<input type="text" id="conf_number" name="conf_number" value="+30">
	<br /><br />
	<input class="button" type="submit" style="width:80px;" value="Join">
</form>
-->
</body>
</html>
