<html>
<head>
<title>Validator DEMO</title>
</head>
<body>
STEP 1:<br /><br />
Enter your phone number bellow ( in international format ):<br />
<form action="/validator/demo" method="post">
<input type="text" name="phone" /> Ext: <input type="text" name="ext" />
<input type="checkbox" name="self_recorded">Play self recorded audio</input>
<br />
<input type="submit" value="Call me!" />
</form>

<!--Enter here your phone number :<br />
<input type="text" value="" id="input_phone" />
<button id="button_call">Call me!</button><br />
When you recieve the call, enter here your code :<br />
<input type="text" value="" id="input_secret" />
<button id="button_check">Check</button><br /> -->
</body>
</html>
