<html>
<head>
</head>
<body>
<a href="/validator/demo">DEMO</a><br />
<b>Service Users:<br /></b>
{% if service_users.count == 0 %}
No service users!<br />
{% else %}
{% for service_user in service_users %}
<b>Name</b> : {{ service_user.name }}<br />
<b>API Key</b> : {{ service_user.api_key }}<br />
<br />
{% endfor %}
{% endif %}
<br />
<br />
<br />
New service user:<br />
<form action="/validator" method="post">
<input type="hidden" value="new_service_user" name="method" />
<input type="text" value="name" name="name" />
<input type="submit" />
</form>
<br />
<br />
<br />
Validate! <br />
<form action="/validate" method="get">
<input type="text" value="api_key" name="api_key" />
<input type="text" value="sip:razorgrazor@ekiga.net" name="target" />( sip:user@host , tel:number )
<input type="submit" />
</form>
<br />
<a href="/validator?do=delete_quotas">Delete all IP quotas</a> | 
<a href="/validator?do=delete_requests">Delete all requests</a>
<br />
<br />
{% if validation_requests.count == 0 %}
No requests for validation.<br />
{% else %}
Requests for Validation:<br />
{% for validation_request in validation_requests %}
<b>target</b> : {{validation_request.target}}<br />
<b>api_key</b> : {{validation_request.api_key}}<br />
<b>access_key</b> : {{validation_request.access_key}}<br />
<br />
{% endfor %}
{% endif %}
</body>
</html>
